Django==1.9.4
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.5
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
click==6.4
django-celery==3.1.17
django-extensions==1.6.1
itsdangerous==0.24
kombu==3.0.35
pytz==2016.2
redis==2.10.5
requests==2.9.1
rethinkdb==2.2.0.post5
simplejson==3.8.2
six==1.10.0
wsgiref==0.1.2
